.Instagram-header {
  background-color: #fafafa;
  color: #262626;
  display: flex;
  flex-flow: row, nowrap;
  justify-content: space-between;
  align-items: center;
  border: #000;
  padding: 0px 20px;
  height: 54px;
  border-bottom: #dbdbdb 1px solid;
}
